html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 12px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#container {
	display: flex;
}

h1 {
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 4px;
	padding-left: 4px;
}

#sidebar {
	display: flex;
	flex-direction: column;
	width: 450px;
}

#main-section {
	display: flex;
	flex-direction: column;
	width: 1000px;
}

.view-panel {
	border: 2px solid #eee;
	margin-bottom: 15px;
	margin-right: 15px;
}

.view-title {
	font-size: 1.0rem;
	background-color: #f3f3f3;
	padding: 3px 8px 5px 12px;
	margin-bottom: 8px;
}

#selected-image-info-content {
	height: 100px;
	padding: 16px;
	display: flex;
}

.selected-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: black;
}

.info-line {
  font-size: 13px;
  color: black;
}

.confidence {
  color: #333;
  font-size: 11px;
}